source/var/*
source/var/cache/*
source/var/connect/*
source/var/export/*
source/var/importexport/*
source/var/locks/*
source/var/log/*
source/var/logging/*
source/var/package/*
source/var/report/*
source/var/resource_config.json
source/var/session/*
source/var/tmp/*
source/media/*
source/app/etc/local.xml
source/var/full_page_cache/*
source/media2/wysiwyg/.thumbs/
source/nbproject/private/
source/downloader/.cache/
source/app/code/local/Unleaded/Homepage/etc/_svn/
.project
.buildpath
.settings/
/nbproject/private/
nbproject/
